.panel {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(1,1,1,1), 100, 0, 0, 0);
}

.bg{
    -fx-background-color: #000000;

}

.death{
    -fx-background-color: rgba(1,0,0,0.8);
    -fx-border-style: solid none none none;
    -fx-border-width: 5;
    -fx-border-color: red;
}
